@charset "UTF-8";

/* footer */

#footer{ width: 100%;  height: 200px; background: linear-gradient(to bottom,#113e72,#06376f); padding-top: 45px;}
#footer .inner{max-width: 1400px;margin: 0 auto;}
#footer .ft01:after{content: ''; display: block; clear: both}
#footer .ft01 .left{float: left}
#footer .ft01 .ft_logo{position: relative; }
#footer .ft01 .ft_logo img{width: 65%;}
#footer .ft02 .left{float: left}
#footer .ft02 .left p{color: #202d2d; font-size: 16px; letter-spacing: -0.7px; color: #fff; font-weight: 300; line-height: 34px; }
#footer .ft02 .left p i{display: inline-block; width: 1px; height: 11px; background: #c0cac9; margin: 0 12px; position: relative; }
#footer .ft02 .right{float: right;text-align: right; margin-top: 30px;}
#footer .ft02 .right ul:after{content: ''; display: block; clear: both}
#footer .ft02 .right ul li{display: inline-block}
#footer .ft02 .right ul li:nth-child(1){margin-right: 30px;}
#footer .ft02 .right ul li a{display: block; line-height: 34px; color: #fff; font-size: 16px; letter-spacing: -0.5px; transition: 0.5s}
#footer .ft02 .right ul li:hover a{color: #5ef0eb}
address{color: #a7a7a7; line-height: 34px;}





